body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 4vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.choices {
    display: flex;
    align-items: center;
    gap: 25px;
}

.results {
    display: flex;
    gap: 25px;
    text-align: center;
}

#odd, #even, #one, #two {
    padding: 30px;
}